# fly.toml app configuration file generated for raptor-hunter on 2026-01-13T05:50:06Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'raptor-sniper-hunter'
primary_region = 'iad'

[build]

[http_service]
  internal_port = 3001
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
