[phases.setup]
nixPkgs = ["nodejs-20_x", "pnpm-8_x"]

[phases.install]
cmds = ["pnpm install --frozen-lockfile"]

[phases.build]
cmds = ["pnpm run build"]

[start]
cmd = "node apps/bot/dist/index.js"
